<link rel="stylesheet" href="/styles/style.css">
<section class="left">
<div class="wrapper-nav">
    <div class="left-top-title">
        <img src="/assets/oyaanow-logo.svg" alt="">
    </div>
    <ul id="linkers" class="left-menu item1">
        <a class="dirs active" href="/">
            <img src="/assets/overview.svg" alt="overview">
            <p>Overview</p>
        </a>
        <a class="dirs" href="/">
            <img src="/assets/overview.svg" alt="overview">
            <p>History</p>
        </a>
        <a class="dirs" href="/">
            <img src="/assets/overview.svg" alt="overview">
            <p>Settings</p>
        </a>
        <a class=" dirs logout-btn" href="/logout">
            <img src="/assets/overview.svg" alt="overview">
            <p>Logout</p>
        </a>
    </ul>
</div>
</section>